[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
certifi = "*"
requests = "*"
redis = "*"
python-dotenv = "*"
types-redis = "*"
aiohttp = "*"
flask = {extras = ["async"], version = "*"}
flask-cors = "*"

[dev-packages]
black = "*"
pylint = "*"
pyre-check = "*"
gunicorn = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
