# This is a basic workflow to help you get started with Actions

name: Lint

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Black Check
        # You may pin to the exact commit or the version.
        # uses: jpetrucciani/black-check@6ccaad6b470e4f5999d70021474781a53769ed71
        uses: jpetrucciani/black-check@20.8b1
        with:
          path: './backend'
